@model _03.ModelBinding.Models.Person
@{
    ViewBag.Title = "PersonModelBinding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PersonModelBinding</h2>


<div>
    @using (Html.BeginForm())
    {
        <p>
            姓名：<input type="text" name="name" /><br />
            年紀：<input type="text" name="age" /><br />
            <input type="submit" value="送出" />
        </p>
    }
</div>
<p>
    Your Name:@Model.Name <br />
    Your Age:@Model.Age
</p>

